aioboto3
aiobotocore
aiofile
aioredis
arrow
boto3
botocore
cryptography
dataset
fastapi
flask
flask-htmx
flask-login
gunicorn
hiredis
jinja2
numpy
pandas
pandas-market-calendars
peewee
pip
psycopg2-binary
python-dateutil
python-dotenv
pytz
redis
requests
rich
scipy
tqdm
uamqp
urllib3
uvloop